[submodule "I2C-Bit-Banging-ESP32"]
	path = I2C-Bit-Banging-ESP32
	url = https://github.com/Joel-Mendez0/I2C-Bit-Banging-ESP32.git
[submodule "Bit-Banged-UART"]
	path = Bit-Banged-UART
	url = https://github.com/Joel-Mendez0/Bit-Banged-UART.git
